img {
    width: 100%;
}

.section {
    margin: 15px 0 30px 0;
}

.about-img {
    min-height: 270px;
    max-height: 360px;
}

i {
    font-size: 54px;
}

.divider {
    width: 50px;
    border-bottom: 4px solid orange;
    margin: 10px auto;
}

.gallery-item {
    min-height: 100px;
}

.gallery-img {
    width: 100%;
}

.person-img-container img{
    width: 50%;
    margin: 0 auto;
}